<h1>Listing nominees</h1>


<%= will_paginate %>
<div class="center hero-unit">
<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Number</th>
      <th>Votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nominees.each do |nominee| %>
      <tr>
        <td><img src="<%= nominee.photo %>" style="width:75px;height:75px"></td>
        <td><%= nominee.name %></td>
        <td><%= nominee.number %></td>
        <td><%= nominee.votes %></td>
        <td>              <a href=edit_nominee_path(nominee) class="btn btn-large btn-primary">Vote</a> 
                       </td>
        <td><%= link_to 'Destroy', nominee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
</div>
<%= will_paginate %>

<br>

<%= link_to 'New Nominee', new_nominee_path %>
