<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
 </p>
 <img src="<%= nominee.photo %>" style="width:75px;height:75px">

<p>
  <strong>Name:</strong>
  <%= @nominee.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @nominee.number %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @nominee.votes %>
</p>

<%= link_to 'Edit', edit_nominee_path(@nominee) %> |
<%= link_to 'Back', nominees_path %>
