<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <img src=<%= nominee.photo %> style="width:150px;height:150px">
</p>

<p>
  <strong>Name:</strong>
  <%= @nominee.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @nominee.number %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @nominee.votes %>
</p>

<%= link_to 'Edit', edit_nominee_path(@nominee) %> |
<%= link_to 'Back', nominees_path %>
